body
    margin 0
    background #4B4B4B url(/assets/paperBg.jpg)
    font-size 16px
    line-height 1.4
    font-family ProximaNovaRgRegular
    
@font-face
	font-family 'ProximaNovaRgRegular'
	src url('/assets/fonts/proximanova-regular-webfont.eot')
	src url('/assets/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/proximanova-regular-webfont.woff'),url('/assets/fonts/proximanova-regular-webfont.ttf') format('truetype'),url('/assets/fonts/proximanova-regular-webfont.svg#ProximaNovaRgRegular') format('svg');
	font-weight normal
	font-style normal
	
.intro
    z-index 1
	list-style-type none
	font-weight bold
	line-height 0

.dark-tower
  position absolute
  margin 0 0 0 25%
  background-image url(/assets/DarkTower.png);
  background-repeat no-repeat
  background-origin border-box
  width 90%
  height 100%
  display none

.hugo-stiglitz
	background-image url(/assets/HugoStiglitz.png)
	position absolute
	background-size 100%
	background-repeat no-repeat
	background-origin border-box 
	width 50px
	height 150px
	margin 50% 0 0 25%
	
    
/*
.main-content
    float left
    margin: 50px auto*/